.call {

  &__title {
    margin: 12px 0;
  	font-size: $font-xxlarge;
  	text-transform: uppercase;
  	text-align: left;

    @include bp(small) {
      font-size: $font-xlarge;
    }
  }

  &__contact {
    position: relative;

  	&__image {
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 0;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      background-color: $gray-xlight;
      img {
        width: 100%;
        height: auto;
      }

      @include bp(small) {
        position: relative;
        margin: auto;
      }
  	}

    &__name {
      font-size: $font-xlarge;
      padding: 0;

      span {
        font-weight: normal;
      }
    }

    &__phone {
      font-size: $font-xxxlarge;
      padding-top: 0;
      line-height: 1em;
    }

    &__show-field-offices {
      font-size: $font-small;

      a {
        cursor: pointer;
      }
    }

    &__field-office-list {
      font-size: $font-normal;
      line-height: 1.4em;
      margin: 0 0 16px 0;
    }

    &__name, &__phone {
      font-weight: bold;
      margin: 0 150px 0 0;

      @include bp(medium) {
        font-size: $font-xlarge;
      }

      @include bp(small) {
        font-size: $font-xlarge;
        margin: 0;
      }
    }
  }

  &__nocontact {
    background-color: #eee;
    padding: 3px 18px;
    border-radius: 10px;
    
    h2 {
      font-size: $font-xlarge;
      margin-top: 12px;
      // text-align: center;
    }
    p {
      // font-size: $font-xlarge;
      // font-weight: bold;
      line-height: 1.4em;
      margin: 0 0 16px 0;
    }
    a {
       cursor: pointer;
    }
  }

  &__script {
    &__link {
      font-size: 36px;
      margin: 20px 0 10px 0;

      a {
        text-decoration: underline;
      }
    }

    &__body {
      background-color: $gray-xlight;
      color: $gray;
      padding: 20px;
    }
  }

  &__contact__type,
  &__contact__reason__header,
  &__contact__field-offices__header,
  &__script__header ,
  &__outcomes__header {
    font-weight: bold;
    font-style: italic;
    font-size: $font-large;
  }

  &__outcomes {
    margin: auto auto 24px auto;
    padding: 0;

    &.preview {
      opacity: 0.4;

      button {
        &:hover {
          color: $blue;
          background-color: $blue-light;
          cursor: inherit;
        }  
      }
    }

    &__items {
      display: flex;
      flex-wrap: wrap;

      button {
        flex-grow: 1;
        flex-basis: 194px;
        border: 0;
        margin: 1px;
        padding: 16px 0;
        font-size: 1.6rem;
        font-weight: 600;
        text-transform: uppercase;
        background-color: $blue-light;
        text-align: center;

        &.selected {
          color: #fff;
          background-color: $red;
        }

        &:hover {
          background-color: $red;
          cursor: pointer;
        }

        &:focus {
          background-color: $blue-light;
        }
      }
    }
  }
}

.voter {
  .call__reason {
    li {
      font-size: 18px;
      line-height: 1.4em;
      margin-bottom: 12px;
    }  
  }

  .call__outcomes {
    &__items {
      button {
        flex-basis: 40%;
      }
      &.disabled {
        opacity: 0.3;
  
        button:hover {
          color: inherit;
          background-color: $blue-light;
          cursor: inherit;
        }
      }
    }
    &__support {
      .novote {
        flex-grow: 5;
      }
      button {
        flex-basis: 10%;
      }
    }
  }
}
