<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{ block "title" . }}5 Calls: Make your voice heard{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="theme-color" content="#000000" />
  <meta name="apple-itunes-app" content="app-id=1202558609" />

  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/img/fav/apple-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="/img/fav/apple-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/img/fav/apple-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="/img/fav/apple-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/img/fav/apple-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/img/fav/apple-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/img/fav/apple-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/img/fav/apple-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/img/fav/apple-icon-180x180.png" />
  <link rel="icon" type="image/png" sizes="192x192" href="/img/fav/android-icon-192x192.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/img/fav/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="96x96" href="/img/fav/favicon-96x96.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/img/fav/favicon-16x16.png" />
  <meta name="msapplication-TileColor" content="#0032FF" />
  <meta name="msapplication-TileImage" content="/img/fav/ms-icon-144x144.png" />
  <meta name="theme-color" content="#0032FF" />
  {{ block "meta" . }}{{ end }}
  <script src="https://kit.fontawesome.com/7e77667f4f.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/css/main.css" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-90915119-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-90915119-1');
  </script>

</head>

<body>
  <div id="root">
    <header class="logo__header" role="banner">
      <div class="layout">
        <a href="/"><img src="/img/5calls-logo-small.png" alt="5 Calls" class="logo__img" /></a>
        <div class="header__right">
          <a href="https://secure.actblue.com/donate/5calls-donate?amount=25"
            class="btn btn-primary donate-btn">Donate</a>
        </div>
      </div>
    </header>
    <div class="layout archive">
      <aside id="nav" role="contentinfo" class="layout__side">
        <div class="sidebar-nonissue">
          <div class="nonissue">
            <a href="/">❮ Back to all active topics</a>
          </div>
        </div>
      </aside>
      {{ block "main" . }}{{ end }}
    </div>
    <footer>
      <div class="layout">
        <div class="colophon">
          <ul class="colophon__left">
            <li>
              <a href="/about"><i aria-hidden="true" class="fa fa-heart"></i><span>About</span></a>
            </li>
            <li>
              <a href="/faq"><i aria-hidden="true" class="fa fa-question-circle"></i><span>FAQ / Contact</span></a>
            </li>
            <li>
              <a href="https://github.com/5calls/5calls" target="_blank" rel="noopener"><i aria-hidden="true"
                  class="fab fa-github"></i><span>Open Source</span></a>
            </li>
            <li>
              <a href="/privacy" data-no-routing="data-no-routing"><i aria-hidden="true"
                  class="fas fa-shield-alt"></i><span>Privacy</span></a>
            </li>
          </ul>
          <ul class="colophon__right">
            <li>
              <a id="impact__link" href="/impact"><i aria-hidden="true" class="fas fa-chart-line"></i><span>Your
                  Impact</span></a>
            </li>
            <li>
              <a href="/archives/"><i aria-hidden="true" class="fas fa-archive"></i><span>Topic Archive</span></a>
            </li>
            <li>
              <a href="https://secure.actblue.com/contribute/page/5calls?refcode=web"><i aria-hidden="true"
                  class="fas fa-comment-dollar"></i><span>Be a Supporter</span></a>
            </li>
          </ul>
          <div class="colophon__center">
            <p>
              © 2019 <i aria-hidden="true" class="fas fa-star"></i> 5 Calls Civic Action is a 501(c)4 non-profit that
              helps
              citizens make their voices heard.
            </p>
          </div>
          <div style="clear: both;"></div>
        </div>
      </div>
    </footer>
  </div>
</body>

</html>