{{ define "main" }}
<div class="content">
  <h1>
    The best location-to-reps API
  </h1>
</div>
<div class="content">
  <div class="g">
    <div class="measure">
      <p>
        Integrate your users' federal and state representatives in your app with the most up-to-date names, addresses and phone numbers all via an easy-to-use API
      </p>
    </div>
  </div>

  <h2></h2>

  <div class="g g-3up a-ctr">
    <div class="card">
      <i class="fa fa-location-dot"></i>
      <span>Support for multiple types of <strong>location data</strong> and privacy requirements.</span>
    </div>
    <div class="card">
      <i class="fa fa-mobile-retro"></i>
      <span><strong>Local phone numbers</strong> and office data for 535 members of Congress.</span>
    </div>
    <div class="card">
      <i class="fa fa-flag-usa"></i>
      <span><strong>State Reps</strong> from <a href="https://pluralpolicy.com/open/">Plural Policy</a> via our API passthrough support.</span>
    </div>
  </div>
</div>
<!-- /.content -->

<section class="alt">
  <div class="content">
    <h2>Data transparency and updates</h2>
    <div class="g g-2up">
      <div class="card a-ctr borderless">
        <p>
          <i class="far fa-scale-unbalanced"></i>
          <strong>Better than Google Civic API</strong>
        </p>
        <p>
          More supported location types, more representative metadata and a faster update cadence than the Google Civic API
        </p>
      </div>

      <div class="card a-ctr borderless">
        <p>
          <i class="far fa-code-compare"></i>
          <strong>Support for open data</strong>
        </p>
        <p>
          Track our representative changes or submit<br />
          requests for new data in our Github project
        </p>
      </div>
    </div>
    <!-- /.g -->
  </div>
  <!-- /.content -->
</section>

<div class="content token-request">
  <h2>Ready to get started?</h2>
  <p class="a-ctr">Enter your email address for instant access to API docs</p>
  <p class="a-ctr">Just want your own page where people can call their Reps about your issue? <a href="https://airtable.com/appeQzMaHuO67mn2e/pagACb2O7eMxoehi2/form">Get in touch</a>.</p>
  <div class="react-container" id="api-form"></div>
</div>
{{ end }}
