{{ define "main" }}
<div class="content">
  <h1>Getting started</h1>
</div>
<div class="content">
  <div class="g step">
    <i class="fa fa-fw a-ctr fa-vote-yea"></i>
    <div class="step-content" markdown="1">
      <h2 class="h3">Choose an issue you care&nbsp;about.</h2>

      <p>
        Make calls in support of progressive issues. We update the list regularly as legislation develops and remove
        topics as soon as they're no longer relevant.
      </p>

      <p>
        If you don’t see your issue on the list, please
        <a href="mailto:hello@5calls.org">reach out</a>.
      </p>
    </div>
  </div>

  <div class="g step">
    <i class="fa fa-fw a-ctr fa-search-location"></i>

    <div class="step-content" markdown="1">
      <h2 class="h3">Enter your location.</h2>

      Next, we'll figure out who you need to call. We can find your location for you, or you can enter a zip code or
      address manually. If your ZIP code is in more than one Congressional district we may show our best guess for your
      representative. Use an address or cross streets to more accurately locate you.

      <p class="info-box">Your location stays private. We don't store it and we never sell data to third parties.</p>
    </div>
  </div>

  <div class="g step">
    <i class="fa fa-fw a-ctr fa-phone-alt"></i>

    <div class="step-content" markdown="1">
      <h2 class="h3">Make your calls.</h2>

      We’ll provide you with a script and tell you who to call for your chosen issue, from Representatives and Senators
      to Governors and Attorneys General. Once you mark the result of your call, we’ll show you the next person’s
      number.
    </div>
  </div>

  <div class="g step">
    <i class="fa fa-fw a-ctr fa-laptop"></i>

    <div class="step-content" markdown="1">
      <h2 class="h3">Sign up for more.</h2>

      <p>
        Follow us on <a href="https://bsky.app/profile/5calls.org">Bluesky</a>,
        <a href="https://mastodon.social/@5calls">Mastodon</a>,
        <a href="https://threads.net/@5calls">Threads</a>,
        <a href="https://instagram.com/5calls">Instagram</a>, and
        <a href="https://www.facebook.com/make5calls">Facebook</a> to learn about new issues. Or subscribe to our
        <a href="https://buttondown.com/5calls">weekly newsletter</a> for emails with the latest updates.
      </p>
    </div>
  </div>
</div>

<section class="alt">
  <div class="content">
    <h2>Tips for Calling</h2>

    <div class="g calling-tips">
      <div class="card borderless a-ctr" markdown="1">
        <p><i class="far fa-fw fa-clock"></i> <strong>Keep it short.</strong></p>
        <p>Calls can take less than a&nbsp;minute.</p>
      </div>

      <div class="card borderless a-ctr" markdown="1">
        <p>
          <i class="far fa-fw fa-grin-alt"></i>
          <strong>Stick to the script, or improvise.</strong>
        </p>
        <p>
          We've worked on our scripts to keep your calls easy, but you can add your personal story for extra impact.
        </p>
      </div>

      <div class="card borderless a-ctr" markdown="1">
        <p>
          <i class="far fa-fw fa-comment-dots"></i>
          <strong>Make your stance clear</strong>
        </p>
        <p>Use supporting bill numbers if applicable so the staffer can easily tally your call.</p>
      </div>

      <div class="card borderless a-ctr" markdown="1">
        <p><i class="far fa-fw fa-handshake"></i> <strong>Be respectful.</strong></p>
        <p>
          No matter which party they work for, the staffers that pick up the phone aren’t looking to challenge&nbsp;you.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="content" markdown="1">
  <h2>Who to Call First</h2>

  <div class="g">
    <div class="measure" markdown="1">
      <ul>
        <li>
          <p>
            <strong>Start with their D.C. office.</strong> When you open an issue page, we start with your
            congressperson’s Washington, D.C. office. You should call that one before trying a local office.
          </p>
        </li>
        <li>
          <p>
            <strong>If no one picks up, leave a voicemail.</strong>
            Congressional offices check voicemail every day. They will tally your message just like a call. Make sure to
            mention your street address in the message. That way, your congressperson will know you are a constituent.
          </p>
          <p>
            After-hours voicemails are a great way to make your voice heard if you aren't comfortable talking to someone
            directly.
          </p>
        </li>
        <li>
          <p>
            <strong>If you can’t get through, call their local offices.</strong>
            Your senators will have a few local offices. Since they represent your entire state, it doesn’t matter which
            one you call, even if it’s far away from you.
          </p>
        </li>
        <li>
          <p>
            <strong>If all else fails,</strong> try emailing, tweeting, sending a postcard, or using the contact form on
            their website. But these are absolute last resorts, since phone calls by far have the most impact.
          </p>
        </li>
      </ul>
      <div class="info-box">
        <p>
          If you can’t get through, we know it’s frustrating. Congressional offices have recently been seeing record
          call volume.
        </p>
        <p>
          But if you can’t reach your congressperson, that usually means a lot of people cared enough to call. That's
          amazing! Don’t sweat it and try again later.
        </p>
      </div>
    </div>
  </div>

  <h2>F.A.Q.</h2>

  <div class="g g-faq">
    <div class="card">
      <p>
        <strong>Why do I only see my House or Senate representative?</strong>
      </p>
      <p>
        Depending on the issue, voting may have already happened in one chamber or the other, or the issue may not be
        active in that chamber.
      </p>
      <p>
        We regularly update who needs to be called based on legislation status so you can trust that you're getting the
        right information.
      </p>
    </div>

    <div class="card">
      <p>
        <strong>Can I save time by mentioning multiple issues in the same call?</strong>
      </p>
      <p>Sometimes! This largely depends on the office and how they tally calls, but you can always ask.</p>
      <p>
        For cases where they can't tally multiple issues, you can call right back or spread your calls out over the day.
      </p>
    </div>

    <div class="card">
      <p><strong>Why can’t I send a letter or email instead?</strong></p>
      <p>
        Calling is by far the most effective way to reach your congressperson. To learn more, check out
        <a href="/why-calling-works/">our guide to why calling works</a>.
      </p>
    </div>

    <div class="card">
      <p>
        <strong>What if I <em>really</em> don't like talking on the phone?</strong>
      </p>
      <p>
        Calling on evenings and weekends with the intent of leaving a voicemail is still a great way to make your voice
        heard. Congressional offices are usually open during normal business hours in their local time zone.
      </p>
    </div>
  </div>

  <h2>Ready to start making&nbsp;calls?</h2>

  <p class="a-ctr"><a href="/" class="button">Find an issue</a></p>
</div>
{{ end }}
