{{ define "main" }}
<div class="content">

<div class="g step">
<i class="fa fa-fw a-ctr fa-vote-yea"></i>

<div class="step-content" markdown="1">
<h2 class="h3">Choose an issue you care&nbsp;about.</h2>

Make calls in support of civil rights, gun reform, immigration, net neutrality and more.

If you don’t see your issue on the list, please [reach out](mailto:make5calls@gmail.com).
</div>
</div>

<div class="g step">
<i class="fa fa-fw a-ctr fa-search-location"></i>

<div class="step-content" markdown="1">
<h2 class="h3">Enter your location.</h2>

Next, we'll figure out who you need to call in your area. We can find your ZIP code for you, or you can enter it manually.

If your ZIP code is in more than one Congressional district, we may also ask for your cross streets to more accurately locate you.

<p class="info-box">Your location stays private. We don't store it in the cloud, and we never sell data to third parties.</p>
</div>
</div>

<div class="g step">
<i class="fa fa-fw a-ctr fa-phone-alt"></i>

<div class="step-content" markdown="1">
<h2 class="h3">Make the calls.</h2>

We’ll tell you everyone you should call for your chosen issue, from Representatives and Senators to Governors and Attorneys General.

Once you mark the result of your call, we’ll show you the next person’s number.
</div>
</div>

<div class="g step">
<i class="fa fa-fw a-ctr fa-laptop"></i>

<div class="step-content" markdown="1">
<h2 class="h3">Sign up for more.</h2>

Follow us on [Facebook](https://www.facebook.com/make5calls) and [Twitter](https://twitter.com/make5calls) to learn about new issues. Or subscribe to our [weekly newsletter](http://5calls.org).
</div>
</div>
</div>

<section class="alt">
<div class="content" markdown="1">

## Tips for Calling

<div class="g calling-tips">
<div class="card borderless a-ctr" markdown="1">
<i class="far fa-fw fa-clock"></i>
**Keep it short.**

Calls should take less than a&nbsp;minute.
</div>

<div class="card borderless a-ctr" markdown="1">
<i class="far fa-fw fa-grin-alt"></i>
**Stick to the script, or improvise.**

We've worked on our scripts to keep your calls easy, but feel free to personalize it with your own words if you’d&nbsp;like.
</div>

<div class="card borderless a-ctr" markdown="1">
<i class="far fa-fw fa-comment-dots"></i>
**Speak clearly.**

You’ll be talking to a congressional staffer. They'll need to understand your opinion before they can tally&nbsp;it.
</div>

<div class="card borderless a-ctr" markdown="1">
<i class="far fa-fw fa-handshake"></i>
**Be respectful.**

No matter which party they work for, the staffers that pick up the phone aren’t looking to challenge&nbsp;you.
</div>
</div>

</div> <!-- /content-->
</section>

<div class="content" markdown="1">

## Who to Call First

<div class="g">
<div class="measure" markdown="1">
- **Start with their D.C. office.** When you open an issue page, we start with your congressperson’s Washington, D.C. office. You should call that one before trying a local office.

- **If no one picks up, leave a voicemail.** Congressional offices check voicemail every day. They will tally your message just like a call.

  Make sure to mention your street address in the message. That way, your congressperson will know they represent you.

- **If you can’t get through, call their local offices.** Press “Call a local office” to see their phone numbers. (On our iOS app, tap “Line busy?” instead.)

  Your senators will have a few local offices. Since they represent your entire state, it doesn’t matter which one you call, even if it’s far away from you.

- **If all else fails,** try emailing, tweeting, sending a postcard, or using the contact form on their website. But these are absolute last resorts, since phone calls have the most impact by far.

<div class="info-box">
<p>If you can’t get through, we know it’s frustrating. Ever since Donald Trump took office, congressional offices are seeing record call volume.</p>

<p>But if you can’t reach your congressperson, that usually means a lot of people cared enough to call. That's amazing! Don’t sweat it and try again later.</p>
</div>
</div>
</div>

## F.A.Q.

<div class="g g-faq">
<div class="card" markdown="1">
**Why should I call the House on issues that only affect the Senate (and vice versa)?**

Depending on the issue, we want to show a clear display of general support or dissent. Even if a congressperson isn’t voting on an issue, they’re all talking to their colleagues and to the media.

On top of that, your congressperson works for you. You’re free to (politely) express whatever you want.
</div>

<div class="card" markdown="1">
**Can I save time by mentioning multiple issues in the same call?**

Unfortunately, no: it’s most effective to make a separate call for each issue. That’s because congressional insiders tell us what really matters is the number of calls they get, not the number of people calling in.

We know it seems weird to hang up and call the same person right back. That’s why we’ve added district office numbers for each congressperson, so you can talk to different staffers if you’d like.
</div>

<div class="card" markdown="1">
**Why can’t I send a letter or email instead?**

Calling is by far the most effective way to reach your congressperson. To learn more, check out [our guide to why calling works](/why-calling-works/).
</div>
</div>

## Ready to start making&nbsp;calls?

<p class="a-ctr"><a href="/" class="button">Find an issue</a></p>

</div>
{{ end }}