{{ define "main" }}
<div class="content content2025">
  <h1>Getting ready for 2025</h1>
  <p><strong>Welcome back.</strong> Millions of people like you have used 5 Calls during the last 8 years to influence their Representatives. It's time to put in the work again.</p>
  <p>What we saw on November 5th was a broad rejection of specific Trump policies via ballot measures and yet a vote to put him in charge again. The public was unconvinced (or uninformed) he will do the things he said he'll do.</p>
  <p>Inevitably he'll try to <a href="https://www.reuters.com/world/us/inside-trumps-plan-mass-deportations-who-wants-stop-him-2024-11-06/">deport millions of legal immigrants</a>, <a href="https://www.factcheck.org/2024/11/trump-embraces-rfk-jr-s-views-on-vaccines-fluoride/">remove fluoride from drinking water</a>, <a href="https://www.nytimes.com/2024/11/06/us/politics/trump-federal-abortion-ban.html">demolish your reproductive freedom</a> and worse. And when faced with those changes the public needs an outlet to make sure their voice is heard and organize around how to fight back. That's where we can help.</p>
  <p>Trump's narcissism is immune to social pressure, but your Reps are not. New features in 5 Calls can help you track what legislation they introduce and how they voted on issues you care about. If you're going to do one thing in 2025, make sure you know how your rep voted on Trump policies so you can know exactly what you're voting for in 2026.</p>
  <h2>Here's how you can contribute:</h2>
</div>
<div class="content content2025">
  <div class="g step">
    <i class="fa fa-fw a-ctr fa-circle-dollar-to-slot"></i>
    <div class="step-content" markdown="1">
      <h2 class="h3">Help us prepare for 2025</h2>
      <p>
        <a href="https://secure.actblue.com/donate/5calls-donate">Donate to 5 Calls</a> to turn your dollars into informing the public about their Reps actions. We're all volunteers, every dollar goes directly to helping the public connect with their Representatives.
      </p>
    </div>
  </div>
  <div class="g step">
    <i class="fa fa-fw a-ctr fa-people-group"></i>
    <div class="step-content" markdown="1">
      <h2 class="h3">Volunteer</h2>
      <p>
        5 Calls is powered by volunteers. Researching and writing topics, designing, building and maintaining tech to keep people informed and more. <a href="mailto:hello@5calls.org">Email us</a> if you want to put your skills to work.
      </p>
    </div>
  </div>
  <div class="g step">
    <i class="fa fa-fw a-ctr fa-envelope"></i>
    <div class="step-content" markdown="1">
      <h2 class="h3">Get notified when you're needed</h2>
      <p>
        Sign up to get emails when you need to call your Reps about new topics. At most one email per week.
      </p>
      <iframe
        scrolling="no"
        style="width:100%!important;height:220px;border:1px #ccc solid !important"
        src="https://buttondown.com/5calls?as_embed=true"
        ></iframe><br /><br />
    </div>
  </div>
  <div class="g step">
    <i class="fa fa-fw a-ctr fa-phone"></i>
    <div class="step-content" markdown="1">
      <h2 class="h3">Hold your reps accountable</h2>
      <p>
        Use 5 Calls to tell your Reps what you think about important issues. <a href="https://apps.apple.com/us/app/5-calls-contact-your-congress/id1202558609" alt="iOS app download">Download the app</a> to get updates on how your Rep votes on issues you care about.
      </p>
    </div>
  </div>
</div>
{{ end }}
