#dashboard-content {
 
  .heading {
    text-align: center;
  }
  
  #topNav {
    margin-bottom: 16px;
  
    button {
      background-color: rgba(2, 63, 159, 0.05);
      height: 3rem;
      padding-left: .5rem;
      padding-right: .5rem;
      color: #000;
      font-size: calc(18rem / var(--base-font-size));
      margin-left: .25rem;
      margin-right: .25rem;
      border: none;
      cursor: pointer;
      border-radius: .3rem;
    }

    @media (min-width: 40rem) {
      button {
        font-size: calc(24rem / var(--base-font-size));
        margin-left: .5rem;
        margin-right: .5rem;
      }
    }
  
    button:hover {
      background-color: #ccc;
    }

    button.selected {
      background-color: var(--c-blue);
      color: #fff;
    }
  }
  
  #nav {
    border-bottom: .1rem solid rgba(var(--c-dark-rgb), .4);
    display: flex;
    overflow-x: auto;
    overflow-y: clip;
    -webkit-overflow-scrolling: touch;
  
    button {
      background-color: rgba(2, 63, 159, 0.05);
      height: 3rem;
      padding-left: .6rem;
      padding-right: .6rem;
      color: #000;
      font-size: calc(18rem / var(--base-font-size));
      margin-left: .2rem;
      margin-right: .2rem;
      margin-bottom: -.2rem;
      border: .1rem solid transparent;
      border-top-left-radius: .3rem;
      border-top-right-radius: .3rem;
      border-bottom: none;
      cursor: pointer;
    }

    button:hover {
      border: .1rem solid rgba(var(--c-dark-rgb), .2);
      border-bottom: none;
    }

    button.selected {
      border: .1rem solid rgba(var(--c-dark-rgb), .4);
      border-bottom: .2rem solid #fff;
      background-color: #fff;
      cursor:default;
    }
  }

  @media (min-width: 40rem) {
    #nav {
      display: block;
      overflow-x: initial;
      overflow-y: initial;
      -webkit-overflow-scrolling: initial;
    }
  }

  h2 {
    text-align: start;
    margin-top: .6rem;
    margin-bottom: .6rem;
    font-weight: normal;
    font-size: calc(20rem / var(--base-font-size));
  }

  @media (min-width: 40rem) {
    h2 {
      font-size: calc(24rem / var(--base-font-size));
      display: inline-block;
    }
  }
  
  .dashboard_card {
    display: block;
    margin: 1rem auto;
    max-width: 72rem;
    gap: 1rem;
  }

  @media (min-width: 40rem) {
    .dashboard_card {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
  
  .subtitle {
    background: #eee;
    padding: .5rem 1.5rem .5rem;
    display: flex;
    align-items: center;

    .subtitle_main {
      font-size: calc(24rem / var(--base-font-size));
      line-height: 1.1;
      white-space: nowrap;
    }
  
    @media (min-width: 40rem) {
      .subtitle .subtitle_main {
        font-size: calc(33rem / var(--base-font-size));
      }
    }
  }

  @media (min-width: 40rem) {
    .subtitle {
      padding: 1.125rem 1.5rem 1.5rem;
    }
  }
    
  .subtitle_detail {
    padding: .5rem 1.5rem 0;
  }
  
  .description {
    font-size: calc(16rem / var(--base-font-size));
  }

  .graphic_section {
    min-width: 20rem;
    width: 100%;
  }

  .dot_key {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  .dot {
    --dot-color: #ccc;
    display: inline;
    width: 100%;
    margin-right: 1rem;
  }

  .dot::before {
    display: inline-block;
    content: "";
    left: 0;
    top: 50%;
    width: 1rem;
    height: 1rem;
    background: var(--dot-color);
    border-radius: 50%;
    margin-right: .5rem;
  }
  
  /* Use this for reps tabs too */
  .picker {
    text-transform: uppercase;
    font-size: calc(20rem / var(--base-font-size));
  }

  @media (min-width: 40rem) {
    .picker {
      font-size: calc(24rem / var(--base-font-size));
    }
  }
  
  select,
  ::picker(select) {
    appearance: base-select;
  }
  
  select {
    border: 0px;
    transition: 0.4s;
    color: #555;
  }
  
  select:hover,
  select:focus {
    background: #ddd;
  }
  
  ::picker(select) {
    text-transform: none;
    font-size: var(--base-font-size);
  }
  
  .total_card {
    border: .1rem solid rgba(var(--c-dark-rgb), .4);
    width: 100%;
    min-width: 20rem;
  }

  @media (min-width: 40rem) {
    .total_card {
      width: 25rem;
    }
  }
  
  .reachability {
    margin: 1rem auto;
    display: inline-block;;
    font-size: calc(16rem / var(--base-font-size));

    .reachability_stats {
      float: left;
      align-content: center;
      font-size: 1.2rem;
    }
  }

  @media (min-width: 40rem) {
    .reachability {
      margin-top: 1rem;
      width: 25rem;
    }
  }
  
  .highlight {
    font-size: 2rem;
    padding-left: 1.5rem;
  }

  @media (min-width: 40rem) {
    .highlight {
      font-size: 3rem;
    }
  }
  
  .bar {
    width: .5rem;
    height: 1.2rem;
    background-color: #330a5f;
  }

  button {
    cursor: pointer;
    min-height: 1.5rem;
    border-radius: .3rem;
    white-space: nowrap;
    border: .1rem solid #aaa;
  }

  button:hover {
    border: .1rem solid #777;
  }

  button.selected {
    border: .1rem solid #fff;
    color: white;
  }

  button.active {
    border: .1rem solid var(--c-red);
  }
  
  .detail {
    flex: 1 1 auto;
    vertical-align: middle;
    width: 100%;
    position: relative;

    .detail_title {
      line-height: 1.1;
    }
    
    .detail_item {
      margin: 0 0 0 .6rem;
      display: inline-block;
      vertical-align: top;
    }

    ol {
      list-style: none;
      counter-reset: top-counter;
      display: flex;
      flex-wrap: wrap;
      padding: 0px;
      margin-top: 1rem;
  
      li {
        counter-increment: top-counter;
        display: flex;
        align-items: center;
        width: 100%;
        min-width: 20rem;
      }

      /** No beeswarm */
      li::before {
        content: counter(top-counter);
        font-size: 2rem;  /* match .highlight */
        min-width: 1.5rem;
        margin-right: 0.3rem;
        line-height: 1;
      }

      @media (min-width: 40rem) {
        li::before {
          font-size: 3rem;
          min-width: 2rem;
        }
      }
    }
    
    .stat {
      margin-left: 5px;
      margin-top: auto;
      margin-bottom: auto;
      white-space: nowrap;
      font-weight: 600;
      font-size: 1.2rem; // Must be at least 19px and bold for a11y.
    }
  }

  @media (min-width: 40rem) {
    .detail {
      max-width: 600px;
    }
  }

  .issue_bar_holder {
    line-height: .6rem;
    padding-bottom: .25rem;
  }
  
  .top_five_issue {
    display: flex;
    justify-content: space-between;
    font-size: calc(16rem / var(--base-font-size));

    a {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: black;
      text-decoration: none;

      /* On mobile, modern browsers, clamp at 2 lines */
      @supports (-webkit-line-clamp: 2) {
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    @media (min-width: 40rem) {
      a {
        white-space: nowrap;
      }
    }

    a:hover, a:focus {
      color: var(--c-dark);
      text-decoration: underline;
    }
  }

  @media (min-width: 40rem) {
    .top_five_issue {
      font-size: calc(18rem / var(--base-font-size));
    }
  }

  .top_five {
    padding-top: .1rem;
    padding-bottom: .1rem;
    margin-bottom: .2rem;
  }
  
  @media (min-width: 40rem) {
    .top_five {
      padding-top: .5rem;
      padding-bottom: .5rem;
      margin-bottom: .5rem;
    }
  }

  .top_five_item_holder {
    max-width: 100%;
    width: 100%;
    padding: .25rem;
  }

  @media (min-width: 40rem) {
    .top_five_item_holder {
      max-width: 552px;
      width: 552px;
    }
  }
  
  .viz_holder {
    min-width: 180px;
    flex-shrink: 0;
  }
  
  img {
    margin: 3px 6px 0 0px;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--c-dark);
    background-color: #888;
  }
  
  .rep_info {
    float: left;
  }
  
  .with_padding {
    margin-top: .6rem;
    margin-bottom: .6rem;
  }
  
  .overlayBox {
    background-color: white;
    fill: white;
    filter:  drop-shadow(.125rem .125rem .25rem #888c);
    margin: .5rem;
    padding: .5rem;
    width: 12.5rem; // 200px; note this is hard-coded in updateStateLabelPosition.
    font-size: 1rem;

    .title {
      text-align: left;
      text-transform: uppercase;
    }

    button {
      float: right;
      cursor: pointer;
      background-color: #fff;
      border: none;
      min-width: 1.5rem;
      min-height: 1.5rem;
      width: auto;
      padding: 0px;
    }

    button:hover {
      background-color: #ccc;
    }

    .issue_name {
      text-align: left;
      margin-top: .5rem;
      text-overflow: ellipsis;
      overflow: hidden;
      text-wrap: nowrap;
      font-size: calc(16rem / var(--base-font-size));
    }

    .issue_long_name {
      text-align: left;
      font-size: calc(16rem / var(--base-font-size));
    }

    .key {
      border-left: 6px solid white;
      padding-left: .5rem;
      margin-top: .5rem;
      margin-bottom: .5rem;
      text-align: left;
    }

    ol {
      list-style: none;
      padding: 0px;
    }
    
  }
  
  .absolute {
    position: absolute;
  }
        
  /* Thanks to https://projects.verou.me/bubbly/ */
  .leftLabel :after {
    content: '';
    position: absolute;
    left: 0;
    top: 24px;
    width: 0;
    height: 0;
    border: .7rem solid transparent;
    border-right-color: #fff;
    border-left: 0;
    margin-top: -.6rem;
    margin-left: -.6rem;
  }

  .rightLabel :after {
    content: '';
    position: absolute;
    right: 0;
    top: 24px;
    width: 0;
    height: 0;
    border: .7rem solid transparent;
    border-left-color: #fff;
    border-right: 0;
    margin-top: -.6rem;
    margin-right: -.6rem;
  }
  
  .topLabel :after {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    width: 0;
    height: 0;
    border: .6rem solid transparent;
    border-bottom-color: #fff;
    border-top: 0;
    margin-top: -.6rem;
    margin-left: -.6rem;
  }

  #state_map_title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 100%;

    h2 {
      text-align: center;
      display: inline-block;
    }
  }
    
  #state_map_section {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
    width: 100%;
    min-width: 350px;
    margin-bottom: 1rem;

    #state_map {
      flex: auto;
    }

    #state_map_key_box {
      z-index: -1;
      width: 100%;
    }

    @media (min-width: 40rem) {
      #state_map_key_box {
        width: 12rem; 
      }
    }
  }
  
  .tooltipBox {
    background-color: white;
    fill: white;
  }
  
  .results_vm {
    color: #6a51a3;
    font-weight: bold;
  }
  
  .results_contact {
    color: #807dba;
    font-weight: bold;
  }
  
  .results_unavailable {
    color: #4a1486;
    font-weight: bold;
  }
  
  footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
  }

  // Override normal i-bar-location styling.
  .i-bar-location {
    color:#000;
    background-color: white;
    border-top: 0px;

    a,
    .button-link {
      color: rgba(#000, 0.9);
    }

    form input {
      border: 2px solid var(--c-blue);
    }
  }

}

#loader {
  display: block;
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  margin-left:auto;
  margin-right: auto;
  border-radius: 50%;
  background-color: var(--c-blue);
  animation: loaderBounce 1s infinite alternate;
}

@keyframes loaderBounce {
  from {
    transform: scale(1);
    opacity: 0.6;
  }
  to {
    transform: scale(1.4);
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  #loader {
    animation: loaderFade 1.5s infinite alternate;
  }

  @keyframes loaderFade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}

// Decrease h1 size compared to other pages.
#dashboard_title {
  font-size: calc(28rem / var(--base-font-size));
  margin-bottom: calc(var(--leading) * 1rem);

  @media (min-width: 40rem) {
    font-size: calc(48rem / var(--base-font-size));
  }
}