{{ define "main" }}
<div class="content">
  <h1>Privacy and terms</h1>
</div>
<div class="content privacy">
<p>Last updated: <strong>March 16th, 2025</strong></p>

<p>5 Calls Civic Action ("us", "we", or "our") respects your privacy and we are committed to protecting it through our compliance with this policy. This policy describes: the types of information we may collect from you or that you may provide us and our practices for collecting, using, maintaining, protecting, and disclosing that information:</p>
<ul>
  <li>when you visit the website, 5calls.org (our "Website");</li>
  <li>download or use our mobile application, 5 calls ("App"); and</li>
  <li>any email, text, or other electronic messages that you send to us.</li>
</ul>

<p>(Our Website, App, and other offerings as an organization are referred to collectively as our "Service" or "Services".)</p>

<p>Please read this policy carefully to understand our policies and practices regarding your information and how we will treat it.</p>

<p><strong>We use your Information for providing and improving the Service. By using the Service, you agree to the collection and use of information in accordance with this policy.</strong></p>

<p><strong>Information Collected</strong></p>
<p>We collect several types of information from and about users of our Website and App, including:</p>
<ul>
  <li>By which you may be personally identified, such as name, postal address, email address, telephone number, or any other identifier by which you may be contacted online or offline ("personal information");</li>
  <li>Information that is about you but individually does not identify you, and information about your internet connection, the equipment you use to access our Services, and usage details;</li>
  <li>Information that you provide by filling in forms on our Service;</li>
  <li>Records and copies of your correspondence (including email addresses), if you contact us;</li>
  <li>Your responses to surveys that we might ask you to complete for research purposes, to enhance the Services or for other reasons described in this policy; and</li>
  <li>Your search queries on our Services.</li>
</ul>

<p><strong>How We Collect this Information</strong></p>
<p>We collect this information:</p>
<ul>
  <li>Directly from you when you provide it to us.</li>
  <li>From third parties, for example, our business partners,</li>
  <li>Automatically as you navigate through the site. Information collected automatically may include usage details, Log Data, IP addresses, Location Data and information collected through cookies, web beacons, and other tracking technologies as described further below.</li>
</ul>

<p><strong>Information We Collect Through Automatic Data Collection Technologies</strong></p>
<p><strong>Log Data</strong></p>

<p>We collect information that your browser sends whenever you visit our Service ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>

<p>In addition, we may use third party services such as Google Analytics or other web beacons that collect, monitor and analyze this type of information in order to increase our Service's functionality. These third party service providers have their own privacy policies addressing how they use such information.</p>

<p>When you access the Service by or through a mobile device, we may collect certain information automatically, including, but not limited to, the type of mobile device you use, your mobile device's unique device ID, the IP address of your mobile device, your mobile operating system, the type of mobile Internet browser you use, your location information and other statistics.</p>

<p>Please see the section regarding Location Information below regarding the use of your location information and your options.</p>

<p><strong>Location information</strong></p>

<p>We may use and store information about your location depending on the permissions you have set on your device. We use this information to provide features of our Service, to improve and customize our Service. You can enable or disable location services when you use our Service at any time, through your device settings.</p>

<p><strong>Cookies</strong></p>

<p>Cookies are files with a small amount of data, which may include an anonymous unique identifier. Cookies can be sent to your browser from a web site and transferred to your device. We use cookies to collect information in order to improve our Services for you.</p>

<p>You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. The Help feature on most browsers or in the settings of your smart phone provide information on how to accept cookies, disable cookies or to notify you when receiving a new cookie.</p>

<p>If you do not accept cookies, you may not be able to use some features of our Service and we recommend that you leave them turned on.</p>

<p><strong>How We Use Your Information</strong></p>
<p>We use information that we collect about you or that you provide to us, including any personal information:</p>
<ul>
  <li>for the purpose of providing the Service including presenting our Services and its contents to you;</li>
  <li>To provide you with information, products, or services that you request from us;</li>
  <li>To fulfill any other purpose for which you provide it;</li>
  <li>To notify you about changes to our Website or any products or services we offer or provide through it;</li>
  <li>To improve our services;</li>
  <li>To allow you to participate in interactive features on our Services;</li>
  <li>In any other way we may describe when you provide the information;</li>
  <li>To contact you about our own or third-parties' goods and services that may be of interest to you including through targeted advertisements or posts; and</li>
  <li>For any other purpose with your consent.</li>
</ul>

<p><strong>Service Providers and Disclosure of Your Information</strong></p>

<p>We may disclose aggregated information about our users, and information that does not identify any individual, without restriction.</p>

<p>We may disclose information that we collect, or you provide as described in this privacy policy:</p>
<ul>
  <li>To third parties to provide you with the Service you have requested and/or to facilitate our Services including service providers and vendors that provide us with hosting, IT support, Service analytics and related services.</li>
  <li>to third parties to market our products or services to you.</li>
  <li>To fulfill the purpose for which you provide it.</li>
  <li>For any other purpose disclosed by us when you provide the information.</li>
  <li>With your consent.</li>
</ul>

<p>Please note that we do not control third parties' collection or use of your information to serve interest-based advertising. However these third parties may provide you with ways to choose not to have your information collected or used in this way. You can opt out of receiving targeted ads from members of the Network Advertising Initiative ("NAI") on the NAI's website.</p>

<p><strong>Security</strong></p>

<p>The security of your information is important to us, and we strive to implement and maintain reasonable, commercially acceptable security procedures and practices appropriate to the nature of the information we store, in order to protect it from unauthorized access, destruction, use, modification, or disclosure.</p>

<p>However, please be aware that no method of transmission over the internet, or method of electronic storage is 100% secure and we are unable to guarantee the absolute security of the information we have collected from you.</p>

<p><strong>Links To Other Sites</strong></p>

<p>Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the privacy policy of every site you visit.</p>

<p>We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>

<p><strong>Children's Privacy</strong></p>

<p>Only persons age 18 or older have permission to access our Service. Our Service does not address anyone under the age of 13 ("Children").</p>

<p>We do not knowingly collect personally identifiable information from children under 13. If you are a parent or guardian and you learn that your Children have provided us with information, please contact us. If we become aware that we have collected personal information from a child under age 13 without verification of parental consent, we take steps to remove that information from our servers.</p>

<p><strong>Your Rights</strong></p>
<p>Depending on what laws apply to your personal information, you may have additional rights via certain state consumer privacy laws:</p>
<ul>
  <li>Confirm whether we process your personal information.</li>
  <li>Access and delete certain personal information.</li>
  <li>Correct inaccuracies in their personal information, taking into account the information's nature processing purpose.</li>
  <li>Data portability.</li>
  <li>Opt-out of personal data processing for:
    <ul>
      <li>targeted advertising;</li>
      <li>sales; or</li>
      <li>profiling in furtherance of decisions that produce legal or similarly significant effects.</li>
    </ul>
  </li>
  <li>Either limit (opt-out of) or require consent to process sensitive personal data.</li>
</ul>

<p>The exact scope of these rights may vary by state and there may be limitations. To exercise any of these rights please email hello@5calls.org. We will process your requests in accordance with applicable laws. Before fulfilling your request, we may ask you to provide reasonable information to verify your identity. If applicable laws grant you an appeal right, you may send us your appeal.</p>

<p><strong>Changes To This Privacy Policy</strong></p>

<p>This Privacy Policy is effective as of <strong>March 16th, 2025</strong> and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.</p>

<p>We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy.</p>

<p>If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website.</p>

<p><strong>Contact Us</strong></p>

<p>If you have any questions about this Privacy Policy, please contact us.</p>
</div>
{{ end }}