{{ define "bodyclass" }}archive{{ end }} {{ define "main" }}
<div class="content">
  <div class="g">
    {{ partial "sidebar.html" . }}
    <div class="archive-wrapper">
      <h2>All active topics</h2>
      <ul>
        <!-- prettier-ignore -->
        {{ with .Site.GetPage "section" "issue" }}
        {{ range .Pages }}
        <li>
          <span><i class="fa fa-phone-alt" aria-hidden="true"></i></span>
          <p>
            <a href="{{ .Permalink }}">{{.Title}}</a>
          </p>
        </li>
        <!-- prettier-ignore -->
        {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</div>
{{ end }}
