{{ define "bodyclass" }}archive{{ end }} {{ define "main" }}
<div class="content">
  <div class="g">
    {{ partial "sidebar.html" . }}
    <div class="archive-wrapper">
      <h1>All active topics</h1>
      <!-- prettier-ignore -->
      {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
      {{ if eq "categories" $taxonomyname }}
      {{ range $key, $value := $taxonomy }}
      <h3>{{ .Page.Title }}</h3>
      <ul>
        {{ range where $value.Pages "Params.hidden" false }}
        <li>
          <span><i class="fa fa-phone-alt" aria-hidden="true"></i></span>
          <p>
            <a href="{{ .Permalink }}">{{.Title}}</a>
          </p>
        </li>
        {{ end }}
      </ul>
      <!-- prettier-ignore -->
      {{ end }}
          {{ end }}
        {{ end }}
    </div>
  </div>
</div>
{{ end }}
