body.home {
  h4.notfound-note {
    background-color: var(--c-blue);
    padding: 8px 12px;
    color: #fff;
    font-size: 1rem;
    border-radius: 8px;
    margin-bottom: 0.8rem;

    i {
      margin-right: 6px;
    }

    a {
      color: white;
    }
  }
}

body.archive {
  .archive-wrapper {
    h1 {
      font-size: 3rem;
      margin: -0.5rem 0 2rem 0;
      text-align: left;
    }
    h4.archive-note {
      background-color: var(--c-latest);
      padding: 8px 12px;
      color: #fff;
      font-size: 1rem;
      border-radius: 8px;
      margin-bottom: 2rem;

      i {
        margin-right: 6px;
      }

      a {
        color: var(--c-dark);
      }
    }
  }
}

$icon-color: hsla(217, 98%, 32%, 0.3);
$icon-color-hover: hsla(217, 98%, 32%, 0.5);
$breakpoint: 76rem;

.archive__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    row-gap: 2.5rem;
    column-gap: 2rem;
    gap: 1rem;

}

.archive__phone-icon {
  color: $icon-color;
  margin-right: 0.5rem;
  vertical-align: top;
}

.card2 {
  border-radius: var(--border-radius);
  border: 1px solid var(--c-border);
  max-width: 25rem;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-between;
  color: var(--c-base);
  cursor: pointer;
  
    color: var(--c-base);
    text-decoration: none;

  overflow: hidden;
}

.cta {
 color: var(--c-blue);
  background-color: rgba(24, 117, 209, 0.14);
  border-radius: 32px;
  font-size: .9rem;
  display: inline-block;
  padding: .4rem 1rem;
  align-items: center;
  font-weight: bold;
  font-family: system-ui;
  .fa-solid {
    margin-right: 0.5rem;
  }

}
.card2__title {
  text-align: left;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 0 0.75rem 0;
  overflow-wrap: break-word;
color: var(--c-blue-subtle);
  font-family: Schibsted Grotesk;

  
}

.card2__pill {
  font-size: 0.8rem;
  border-radius: 6px;
  border: 1px solid var(--c-border);
  padding: 0.2rem 0.6rem;
  margin-right: 0.5rem;
  color: var(--c-base);
  .fa-solid {
    margin-right: 0.5rem;
  }

  &--alert {
    color: var(--c-red-darker);
    background-color: rgba(255, 0, 0, 0.1);
  }
}

.card2__content {
  padding: 1rem;
}

h1 {
  font-family: Schibsted Grotesk;
}
.card2__header {
  padding: 1rem 0 0 0;
  border-top: 1px solid var(--c-border);
  font-size: 0.9rem;
  margin-top: 1rem;
display:flex;
align-items: flex-end;
width: 100%;
  .fa-solid {
    margin-right: 0.2rem;
  }
}

.archive__list-item {
  @extend .card2;
  margin-left: 0 !important;
  list-style: none;
  margin-bottom: 0;
}
