body.home {
  h4.notfound-note {
    background-color: var(--c-blue);
    padding: 8px 12px;
    color: #fff;
    font-size: 1rem;
    border-radius: 8px;
    margin-bottom: 0.8rem;

    i {
      margin-right: 6px;
    }

    a {
      color: white;
    }
  }
}
.archive .archive-wrapper h1 {
  font-size: 3rem;
  margin: -0.5rem 0 2rem 0;
  text-align: left;
}

body.archive {
  .archive-wrapper {
    h4.archive-note {
      background-color: var(--c-latest);
      padding: 8px 12px;
      color: #fff;
      font-size: 1rem;
      border-radius: 8px;
      margin-bottom: 2rem;

      i {
        margin-right: 6px;
      }

      a {
        color: var(--c-dark);
      }
    }
  }
}

$icon-color: hsla(217, 98%, 32%, 0.3);
$icon-color-hover: hsla(217, 98%, 32%, 0.5);
$breakpoint: 76rem;

.archive__grid {
  @media screen and (min-width: $breakpoint) {
    display: grid;
    grid-template-columns: 10rem 1fr;
    row-gap: 2.5rem;
    column-gap: 2rem;
  }
}

.archive__phone-icon {
  color: $icon-color;
  margin-right: 0.5rem;
  vertical-align: top;
}


.archive__page-title {
  text-align: left;
  font-size: 1.4rem;
  margin: 2rem 0 1rem 0;
  overflow-wrap: break-word;

  @media screen and (min-width: $breakpoint) {
    margin: -.1rem 0 0 0;
    
  }
}

.archive__list-item {
  margin-left: 0 !important;
  list-style: none;
  margin-bottom: 0 !important;
}

.archive__entry {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  &:hover,
  &:focus {
    .archive__phone-icon {
      color: $icon-color-hover;
    }
  }
}

.archive__topic-link {
  font-size: 1.22rem;
  margin-top: -0.1rem;
}
