body.home {
  h4.notfound-note {
    background-color: var(--c-blue);
    padding: 8px 12px;
    color: #fff;
    font-size: 1rem;
    border-radius: 8px;
    margin-bottom: 0.8rem;

    i {
      margin-right: 6px;
    }

    a {
      color: white;
    }
  }
}

body.archive {
  .archive-wrapper {
    h2 {
      margin: 0 0 10px 0;
      text-align: left;
    }

    h3 {
      font-size: 1.6rem;
      text-align: left;
      margin: 0.8rem 0 0.4rem 0;
    }

    h4.archive-note {
      background-color: var(--c-latest);
      padding: 8px 12px;
      color: #fff;
      font-size: 1rem;
      border-radius: 8px;
      margin-bottom: 0.8rem;

      i {
        margin-right: 6px;
      }

      a {
        color: var(--c-dark);
      }
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        font-size: 1.2rem;
        margin-bottom: 10px;

        p {
          display: inline-block;
          vertical-align: top;
          margin: 0.2rem 0 0.4rem 0;
        }

        span {
          position: relative;
          display: inline-block;
          border: 2px solid var(--c-blue);
          border-radius: 50%;
          width: 1.8rem;
          height: 1.8rem;

          i {
            color: var(--c-blue);
            font-size: 0.85rem;
            position: absolute;
            top: 0.375rem;
            left: 0.375rem;
            line-height: 1;
          }
        }
      }
    }
  }
}
