// State pages

.state {
  .i-bar {
    display: none;
  }

  @media screen and (max-width: 40rem) {
    .i-hidden-bar {
      display: block;
    }
  }

  @media screen and (min-width: 40rem) {
    .i-bar {
      display: block;
      grid-column: 1 / span 6;
    }

    .state-content-wrapper {
      grid-column: 7 / -1;
    }
  }

  @media screen and (min-width: 76rem) {
    .i-bar {
      display: block;
      grid-column-end: 5;
    }

    .state-content-wrapper {
      grid-column-start: 5;
    }
  }
}