{{ define "bodyclass" }}issue{{ end }} {{ define "main" }}
<div class="content">
  <div class="g">
    {{ partial "sidebar.html" . }}
    <div class="issue-wrapper">
      <div class="issue-content">
        <h2>{{ .Title }}</h2>
        {{ .Content }}
      </div>
      <div class="reps">
        <h3>Contacts for this topic:</h3>
        <div class="rep-list" id="react-reps" data-rep-areas="USSenate,USHouse"></div>
        <p class="help">
          <a
            href="https://intercom.help/5calls/using-the-5-calls-website-and-apps/why-do-i-only-see-some-of-my-representatives"
            target="_blank"
            >Where are the rest of my representatives?</a
          >
        </p>
      </div>
      <div class="issue-script" id="react-script" data-script-markdown="{{ .Params.script }}">
        {{ .Params.script | markdownify }}
      </div>
    </div>
  </div>
</div>
{{ end }}
