{{ define "bodyclass" }}done{{ end }} {{ define "main" }}
<div class="content">
  <div class="g">
    <!-- prettier-ignore -->
    {{ .Scratch.Set "issueId" .Params.issueId }}
    {{ partial "sidebar_local.html" . }}

    <div class="done-wrapper">
      <h2>Great work!</h2>
      <p>
        Your calls help your representatives decide what issues are most important to their constiuents and can help
        direct their positions on policy that makes a difference in the lives of all Americans.
      </p>
      <div class="done-grid">
        <div class="done-remind">
          <h3>Get updates weekly</h3>
          <p>Subscribe to our mailing list for a weekly email of upcoming calls</p>
          <blockquote class="clearfix">
            <form
              action="https://5calls.us16.list-manage.com/subscribe/post?u=82a164d5fe7f51f4a4efb1f83&amp;id=624ef52208"
              method="post"
              id="mc-embedded-subscribe-form"
              name="mc-embedded-subscribe-form"
              class="validate"
              target="_blank"
              novalidate
            >
              <input
                id="email"
                name="EMAIL"
                type="email"
                placeholder="your_email@gmail.com"
                autocomplete="email"
                value=""
              />
              <div style="position: absolute; left: -5000px" aria-hidden="true">
                <input type="text" name="b_82a164d5fe7f51f4a4efb1f83_624ef52208" tabindex="-1" value="" />
              </div>
              <button>Submit</button>
            </form>
          </blockquote>
        </div>
        <div
          class="done-share"
          id="react-share"
          data-issue-id="{{ .Params.issueId }}"
          data-issue-title="{{ .Title }}"
          data-issue-slug="{{ .File.BaseFileName }}"
        ></div>
      </div>
      <div class="done-donate">
        <h3>Donate to 5 Calls</h3>
        <p>
          5 Calls is a <strong>grassroots supported non-profit organization</strong>, we rely on donations from members
          like you to keep our activities fresh and develop new ways to make your voice heard!
        </p>
        <div class="donate-grid">
          <button onclick="window.fivecalls.openDonate(10)" class="grid-1">
            $10<span>Supports 200 calls to Congress</span>
          </button>
          <button onclick="window.fivecalls.openDonate(15)" class="grid-2">
            $15<span>Supports outreach to new activists</span>
          </button>
          <button onclick="window.fivecalls.openDonate(25)" class="donate-best grid-1">
            $25<span>Supports issue research and writeups</span>
          </button>
          <button onclick="window.fivecalls.openDonate(100)" class="grid-2">
            $100<span>Keeps the site running for a month</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
