{{ define "main" }}
<div class="content">
  <h1>
    <span class="sr-only">Why Calling Works: </span>
    Calling your representative is the best way to make your voice&nbsp;heard.
  </h1>
</div>
<div class="content">
  <div class="g">
    <div class="measure">
      <p>
        Once your congressperson forms a public stance on an issue, it’s hard for them to walk it back. The earlier they
        hear your opinion, the more likely it is you’ll make an impact.
      </p>
      <p>
        Calling is by far the most effective way to ensure that your representative hears you <em>before</em> they take
        a public stance..
      </p>
    </div>
  </div>

  <h2>Other kinds of messages take&nbsp;longer.</h2>

  <div class="g g-3up a-ctr">
    <div class="card">
      <i class="fa fa-envelope-open-text"></i>
      <span><strong>Emails</strong> have to be manually read&nbsp;and&nbsp;sorted.</span>
    </div>
    <div class="card">
      <i class="fa fa-fax"></i>
      <span><strong>Faxes</strong> have to be digitized and emailed.</span>
    </div>
    <div class="card">
      <i class="fa fa-mail-bulk"></i>
      <span><strong>Letters and postcards</strong> can be quarantined for safety inspections.</span>
    </div>
  </div>

  <div class="g">
    <p class="measure a-ctr other-comms-footnote">By contrast, congressional staffers tally phone calls right away.</p>
  </div>
</div>
<!-- /.content -->

<section class="alt">
  <div class="content">
    <h2>No matter their politics, calling&nbsp;works.</h2>
    <div class="g g-2up">
      <div class="card a-ctr borderless" markdown="1">
        <p>
          <i class="far fa-thumbs-up"></i>
          <strong>If you support their stance&hellip;</strong>
        </p>
        <p>
          You need to let your congressperson know! When they talk to colleagues, they use call tallies and personal
          stories from constituents to better support their positions.
        </p>
      </div>

      <div class="card a-ctr borderless" markdown="1">
        <p>
          <i class="far fa-thumbs-down"></i>
          <strong>If you oppose or don’t know their&nbsp;stance&hellip;</strong>
        </p>
        <p>
          Calling is the easiest way to sway them! Your congressperson gets regular call tally reports, letting them
          know how strongly their constituents feel about an issue.
        </p>
      </div>
    </div>
    <!-- /.g -->
  </div>
  <!-- /.content -->
</section>

<div class="content" markdown="1">
  <h2>Don’t just take it from us.</h2>

  <div class="g g-3up">{{ range $.Site.Data.clips }} {{ partial "clip.html" . }} {{ end }}</div>

  <h2>Ready to get started?</h2>

  <p class="a-ctr"><a href="/" class="button">Choose an issue today</a></p>
</div>
{{ end }}
