{{ define "bodyclass" }}issue archive{{ end }} {{ define "main" }}
<div class="content">
  <div class="g">
    {{ partial "sidebar.html" . }}
    <div class="issue-wrapper">
      <div class="issue-content">
        <h1>{{ .Title }}</h1>
        <h4 class="archive-note">
          <i class="fas fa-exclamation-circle"></i>This content is archived from the {{ .Params.session }}th Congress {{ if eq .Params.session 116 }}(2019-2020){{ else if eq .Params.session 117 }}(2021-2022){{ else }}(2023-2024){{ end }} and is
          no longer callable, we've provided this copy to remember the topics that you've called on during prevous
          Congressional sessions. Head <a href="/">back to the front page</a> to see current topics to call on.
        </h4>
        {{ .Content }}
      </div>
    </div>
  </div>
</div>
{{ end }}
