{{ define "bodyclass" }}done{{ end }} {{ define "main" }}
<div class="content">
  <div class="g">
    <!-- prettier-ignore -->
    {{ .Scratch.Set "issueId" .Params.issueId }}
    {{ partial "sidebar.html" . }}

    <div class="done-wrapper">
      <h2>Great work!</h2>
      <p>
        Your calls help your representatives decide what issues are most important to their constiuents and can help
        direct their positions on policy that makes a difference in the lives of all Americans.
      </p>
      <div class="done-grid">
        <div class="done-remind">
          <h3>Important alerts</h3>
          <blockquote class="clearfix">
            <p><strong>Get alerts before your reps vote on important issues.</strong> Unsubscribe any time, 1-2 text messages per month</p>
            <span id="react-phone"></span>
          </blockquote>
        </div>
        <div
          class="done-share"
          id="react-share"
          data-issue-id="{{ .Params.issueId }}"
          data-issue-title="{{ .Title }}"
          data-issue-slug="{{ .File.BaseFileName }}"
        ></div>
      </div>
      <div class="done-donate">
        <h3>Donate to 5 Calls</h3>
        <p>
          5 Calls is a <strong>grassroots supported non-profit organization</strong>, we rely on donations from members
          like you to keep our activities fresh and develop new ways to make your voice heard!
        </p>
        <div class="donate-grid">
          <button onclick="window.fivecalls.openDonate(10)" class="grid-1">
            $10<span>Supports 200 calls to Congress</span>
          </button>
          <button onclick="window.fivecalls.openDonate(15)" class="grid-2">
            $15<span>Supports outreach to new activists</span>
          </button>
          <button onclick="window.fivecalls.openDonate(25)" class="donate-best grid-1">
            $25<span>Supports issue research and writeups</span>
          </button>
          <button onclick="window.fivecalls.openDonate(100)" class="grid-2">
            $100<span>Keeps the site running for a month</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
