<header class="header">
  <div class="content">
    <a href="/">
      <img src="/images/logo.png" alt="5 Calls" class="logo" />
    </a>
    <div class="header-actions">
      <a
        href="https://secure.actblue.com/donate/5calls-donate?refcode=embedfallback&amp;amount=25"
        id="actblue"
        class="button button-red button-small icon-l"
        ><i class="fa fa-fw fa-money-bill-wave"></i> Donate</a
      >
      <!-- <a class="header-actions-user">
          <img class="stars" src="/images/stars.png" alt="Make your voice heard">
          <span>Log in</span>
        </a> -->
    </div>
  </div>
</header>
