<div class="i-bar">
  <div class="i-bar-location" id="react-location">
    <div class="is-visible">
      <span>&nbsp;</span>
      <strong>&nbsp;</strong>
      <button class="button-link">&nbsp;</button>
    </div>
  </div>

  <div class="i-bar-list">
    <section class="i-bar-list-section">
      <a class="i-bar-item is-unsorted" href="/">
        <div class="i-bar-item-check">
          <div class="i-bar-check-completed">
            <i class="fa fa-arrow-left"></i>
            <span class="sr-only">Back</span>
          </div>
        </div>
        <strong>Back to national calls</strong>
      </a>
    </section>
  </div>
</div>
