<div class="i-bar">
  <div class="i-bar-location" id="react-location">
    <div>
      <span>&nbsp;</span>
      <strong>&nbsp;</strong>
      <button class="button-link">&nbsp;</button>
    </div>
  </div>

  <div class="i-bar-list">
    <header class="i-bar-header i-bar-header-unsorted">
      <h3><i class="fa fa-newspaper"></i> What's important to you?</h3>
    </header>
    <div id="react-search"></div>
    <section class="i-bar-list-section">

      <!-- prettier-ignore -->
      {{ $passedIssueID := (.Scratch.Get "issueId")}}
      {{ range sort (where (where (where .Site.Pages "Type" "issue") ".Params.active" "eq" true) "Params.hidden" false ) ".Params.order" }}
      <a
        class="i-bar-item is-unsorted{{ if eq $passedIssueID .Params.issueId }} is-active{{ end }}"
        href="{{ .Permalink }}"
      >
        <div class="i-bar-item-check">
          <div class="i-bar-check-completed" data-issue-id="{{ .Params.issueId }}">
            <i class="fa fa-phone"></i>
            <span class="sr-only">Needs your calls</span>
          </div>
        </div>
        <strong>{{ .Title }}</strong>
      </a>
      {{ end }}
    </section>
  </div>

  <a href="/all/" class="i-bar-more"><i class="fa-solid fa-table-list"></i>&nbsp;&nbsp;See all {{ len (where (where .Site.Pages "Type" "issue") "Params.hidden" false) }} issues</a>
</div>
<div class="i-hidden-bar">
   <a href="/" class="i-bar-top-issues"> <i class="fa-solid fa-circle-left"></i>&nbsp;&nbsp;Back to top issues</a>
</div>