{{ define "main" }}
<div class="content troubleshooting">
  <div class="g">
    <div class="measure a-ctr">
      <p>We're here to help. Here are a few answers to common&nbsp;issues.</p>
    </div>
  </div>

  <h2>Where can I find my congressperson’s local office&nbsp;number?</h2>

  <div class="g g-3up a-ctr">
    <div markdown="1">
      ![](/images/troubleshooting/local-web.png) **Web** When you’re on an issue
      page, click "Or call a local office" under your congressperson’s big red
      DC phone number.
    </div>

    <div markdown="1">
      ![](/images/troubleshooting/local-ios.png) **iOS** Tap “Local Offices”
      under the congressperson’s photo.
    </div>

    <div markdown="1">
      ![](/images/troubleshooting/local-android.png) **Android** Tap “Call a
      local office”.
    </div>
  </div>

  <h2>I only see one congressperson’s number. How do I call the others?</h2>

  <div class="g g-3up a-ctr">
    <div markdown="1">
      ![](/images/troubleshooting/result-web.png) **Web** After you call your
      first congressperson, mark the result of the call. The page will reload,
      and you’ll see the next number.
    </div>

    <div markdown="1">
      ![](/images/troubleshooting/result-ios.png) **iOS** After you call your
      first congressperson, mark the result of the call and you’ll see the next
      number.
    </div>

    <div markdown="1">
      ![](/images/troubleshooting/result-android.png) **Android** After you call
      your first congressperson, mark the result of the call and you’ll see the
      next number.
    </div>
  </div>

  ## How do I change my location?

  <div class="g g-3up a-ctr">
    <div markdown="1">
      ![](/images/troubleshooting/location-web.png) **Web** Click the current
      city or ZIP code under the 5 Calls logo.
    </div>

    <div markdown="1">
      ![](/images/troubleshooting/location-ios.png) **iOS** Tap the current city
      or ZIP code under the 5 Calls logo.
    </div>

    <div markdown="1">
      ![](/images/troubleshooting/location-android.png) **Android** On the
      launch screen, tap the location icon in the top right corner.
    </div>
  </div>

  <div class="g">
    <div class="measure">
      <p class="info-box">
        We use your location to match you with the members of Congress you need
        to call, so make sure to keep that info up to date.
      </p>
    </div>
  </div>

  ## My question isn’t listed here.

  <div class="g">
    <div class="measure" markdown="1">
      For more help, check out our [knowledge
      base](https://intercom.help/5calls/en/collections/1497141-using-the-5-calls-website-and-apps)
      and [guide to getting started](/getting-started/). If you still can’t find
      what you’re looking for, email us at
      [hello@5calls.org](mailto:hello@5calls.org).
    </div>
    <!-- /.measure -->
  </div>
  <!-- /.g -->
</div>
<!-- /.content -->
{{ end }}
