{{ define "main" }}
<div class="content">
  <h1>Troubleshooting</h1>
</div>
<div class="content troubleshooting">
  <div class="g">
    <div class="measure a-ctr">
      <p>We're here to help. Here are a few answers to common&nbsp;issues.</p>
    </div>
  </div>

  <h2>Where can I find my congressperson’s local office&nbsp;number?</h2>

  <div class="g g-3up a-ctr">
    <div>
      <p><img src="/images/troubleshooting/local-web.png" /></p>
      <p><strong>Web</strong></p>
      <p>
        When you’re on an issue page, click "Or call a local office" under your
        congressperson’s big red DC phone number.
      </p>
    </div>

    <div>
      <p><img src="/images/troubleshooting/local-ios.png" /></p>
      <p><strong>iOS</strong></p>
      <p>Tap “Local Offices” under the congressperson’s photo.</p>
    </div>

    <div>
      <p><img src="/images/troubleshooting/local-android.png" /></p>
      <p><strong>Android</strong></p>
      <p>Tap “Call a local office”.</p>
    </div>
  </div>

  <h2>I only see one congressperson’s number. How do I call the others?</h2>

  <div class="g g-3up a-ctr">
    <div>
      <p><img src="/images/troubleshooting/result-web.png" /></p>
      <p><strong>Web</strong></p>
      <p>
        After you call your first congressperson, mark the result of the call.
        The page will reload, and you’ll see the next number.
      </p>
    </div>

    <div markdown="1">
      <p><img src="/images/troubleshooting/result-ios.png" /></p>
      <p><strong>iOS</strong></p>
      <p>
        After you call your first congressperson, mark the result of the call
        and you’ll see the next number.
      </p>
    </div>

    <div markdown="1">
      <p><img src="/images/troubleshooting/result-android.png" /></p>
      <p><strong>Android</strong></p>
      <p>
        After you call your first congressperson, mark the result of the call
        and you’ll see the next number.
      </p>
    </div>
  </div>

  <h2>How do I change my location?</h2>

  <div class="g g-3up a-ctr">
    <div markdown="1">
      <p><img src="/images/troubleshooting/location-web.png" /></p>
      <p><strong>Web</strong></p>
      <p>Click the current city or ZIP code under the 5 Calls logo.</p>
    </div>

    <div markdown="1">
      <p><img src="/images/troubleshooting/location-ios.png" /></p>
      <p><strong>iOS</strong></p>
      <p>Tap the current city or ZIP code under the 5 Calls logo.</p>
    </div>

    <div markdown="1">
      <p><img src="/images/troubleshooting/location-android.png" /></p>
      <p><strong>Android</strong></p>
      <p>
        On the launch screen, tap the location icon in the top right corner.
      </p>
    </div>
  </div>

  <div class="g">
    <div class="measure">
      <p class="info-box">
        We use your location to match you with the members of Congress you need
        to call, so make sure to keep that info up to date.
      </p>
    </div>
  </div>

  <h2>My question isn’t listed here.</h2>

  <div class="g">
    <div class="measure" markdown="1">
      <p>
        For more help, check out our
        <a
          href="https://intercom.help/5calls/en/collections/1497141-using-the-5-calls-website-and-apps"
          >knowledge base</a
        >
        and <a href="/getting-started/">guide to getting started</a>.
      </p>
      <p>
        If you still can’t find what you’re looking for, email us at
        <a href="mailto:hello@5calls.org">hello@5calls.org</a>.
      </p>
    </div>
    <!-- /.measure -->
  </div>
  <!-- /.g -->
</div>
<!-- /.content -->
{{ end }}
