.call {
  background-color: fade-out(#fff, 0.3);
  padding: 2rem;

  @include bp(small) {
    padding: 1rem .8rem;
  }

  &__title {
  	margin: 0;
  	font-size: 3.4rem;
  	text-transform: uppercase;
  	text-align: left;
    line-height: 1.1;

    @include bp(small) {
      font-size: 2.2rem;
    }

  }

  &__reason {
  	font-size: 1.4rem;
  	font-weight: 300;
  	line-height: 1.4;

    @include bp(small) {
      font-size: 1.2rem;
    }

  }

  &__contact {
  	&__image {
      float: left;
      width: 200px;
      height: 200px;
      margin: 0 1rem 1rem 0;

      @include bp(small) {
        float: none;
        margin: 0 auto;
      }

      img {
        max-width: 100%;
        max-height: 100%;
      }
  	}

  	&__type {
      margin-bottom: 0.1rem;
  	  font-size: 1.4rem;
      text-transform: uppercase;
  	}

    &__name {
      margin-bottom: 0.1rem;
      font-size: 2.8rem;
      font-weight: 600;

      @include bp(small) {
        font-size: 2.2rem;
      }

    }

    &__phone {
      margin-bottom: 0.1rem;
      font-size: 5rem;
      font-weight: 600;

      @include bp(small) {
        font-size: 2rem;
        font-size: 14vw;
        margin: .5rem 0;
      }


    }

    &__reason {
      font-size: 1.4rem;
      line-height: 1.4;

      @media only screen and (min-width: $bp-large) {
        margin-left: calc(200px + 1rem);
      }

      @include bp(small) {
        font-size: 1.2rem;
      }

    }
  }

  &__script {
    margin-bottom: 2rem;

    &__header {
      margin-bottom: 0.8rem;
      font-size: 1.6rem;
    }

    &__body {
      padding: 0.6rem 0.8rem 0.1rem 0.8rem;
      background-color: fade-out(#fff, 0.5);
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 1.4;

      @include bp(small) {
        font-size: 1.2rem;
      }

    }
  }

  &__outcomes {
    margin: auto auto 2rem auto;
    padding: 0;

    &__header {
      margin-bottom: 0.8rem;
      font-size: 1.6rem;
      // font-weight: 300;
    }

    &__items {
      display: flex;
      flex-wrap: wrap;

      button {
        flex-grow: 1;
        flex-basis: 194px;
        border: 0;
        margin: 1px;
        padding: 0.8rem 0;
        font-size: 1.6rem;
        font-weight: 600;
        text-transform: uppercase;
        background-color: fade-out(#fff, 0.2);
        text-align: center;

        &:hover {
          background-color: fade-out(#eee, .2);
          cursor: pointer;
        }
      }
    }
  }

  &__promote {
    p {
      padding: 1rem 0;
      text-align: center;
      line-height: 1.5;
    }
  }

  &__complete {

    &__title {
      margin: 0 0 2rem 0;
      font-size: 3.4rem;
      text-transform: uppercase;
      text-align: center;
    }

    &__text {
      margin: 2rem 0 2rem 0;
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.4;

    }

    &__share {
      font-size: 1.8rem;
      text-align: center;
    }
  }
}
