* {
  box-sizing: border-box;
}

body {
  color: $color-text;
  font-family: $font-sans;
  background: $blue-darker url(/img/5calls_bgd.jpg) center/cover no-repeat fixed;
  min-height: 100vh;
}

html, body {
  height: 100%;
}

p {
  margin: 0 0 1rem;
}

a {
  color: $blue;
  text-decoration: none;

  transition-property: color, background-color, border;
  transition-duration: 0.2s;
  transition-timing-function: ease;

  &:hover,
  &:focus {
    // TODO: better, nicer link styles
    text-decoration: underline;
  }
}

button {
  font-family: $font-sans;

  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
