.impact {

  &__title {
    font-size: $font-xxlarge;
    text-transform: uppercase;
  }
    
  &_total {
    color: $color-link;
  }

  &_result {
    font-size: $font-large;
    line-height: 1.4em;
    span {
      font-weight: bold;
    }
  }
}
