.issues {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);

  @include bp(medium) {
    box-shadow: none;
  }

  &__header {
    text-align: center;
    background-color: #fff;

    h2 {
      margin: 0;
      padding: 12px;
      font-size: $font-large;
      text-align: center;
      background-color: $gray-xlight;
    }
  }

  &__title {
    font-size: $font-xxlarge;
    line-height: 1;
    font-weight: bold;
    font-style: italic;
    margin: 0;
    padding: 12px 12px 0;
    a {
      text-decoration: none;
      font-size: 0.1px;
    }
  }

  &__logo {
    width: 200px;
  }

  &__location {
    color: $blue;

    p {
      margin: 0;
      font-size: $font-small;
      padding: 6px 6px 6px;
      &.loadingAnimation {
        color: $gray;
      }
    }

    input {
      width: 200px;
    }

    a {
      text-decoration: underline;
    }

    span {
      font-weight: bold;
    }
  }

  &__footer-link {
    display: block;
    text-align: center;
    background-color: $gray-xlight;
    border-bottom: 1px solid $gray-light;
    color: $blue;
    padding: 10px;
    &:hover {
      background-color: $white;
    }
  }
}

.issues-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $gray-xlight;
  border-bottom: 1px solid $gray-light;

  &__item {
    display: block;
    position: relative;
    border-top: 1px solid $gray-light;
    padding: 3px 12px 3px 48px;
    margin: 0;
    color: $blue;

    &__status {
      position: absolute;;
      top: 14px;
      left: 12px;
      border-radius: 50%;
      border: 3px solid $gray-lesslight;
      width: 36px;
      height: 36px;
      font-size: 21px;
      line-height: 36px;
      text-align: center;
      vertical-align: middle;
      margin: 0;
      padding: 0;
      color: $white;

      &.is-complete {
        color: transparent;
        border: 3px solid $green;
        background-color: $green;
        background-image: url(/img/5calls-icon-checkmark.png);
        background-size: 26px auto;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &__title {
      display: block;
      font-size: $font-large;
      margin: 12px;
    }

    &__summary {
      display: block;
      font-size: 0.9rem;
      text-align: right;
      display: none;
    }

    img {
      position: absolute;
      top: 20px;
      right: -35px;
    }

    &.is-active, &:hover {
      background-color: $white;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
