.layout {
  max-width: $bp-xlarge;
  margin: 0 auto;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  @media (min-width: $bp-medium) {
    flex-direction: row;
    margin: 0;
    padding: 2rem;
  }

  @media (min-width: $bp-large) {
    margin: 0 auto;
    padding: 2rem;
  }
}

.layout__side {
  @media (min-width: $bp-medium) {
    flex: 2;
    margin-right: 2rem;
  }
}

.layout__main {
  margin-top: 2rem;

  @media (min-width: $bp-medium) {
    margin: 0;
    flex: 3;
  }
}

footer {
  padding: 2rem .5rem;
  text-align: center;
  color: #999;

  @media (min-width: $bp-medium) {
    padding: 2rem;
  }

  .tinyletter__form {
    margin: 1rem 0;
    font-size: 1.2rem;

    label {
      color: #fff;
    }

    input[type=text] {
      margin-right: .5rem;
    }

    input[type=submit] {
      border-radius: 8px;
    }
  }

  a {
    color: #fff;
  }
}
