{{ define "bodyclass" }}state{{ end }}
{{ define "main" }}
<div class="content">
  <div class="g">
    {{ partial "sidebar-state.html" . }}
    
    <div class="state-content-wrapper">
      <h1>{{ .Title }} Special Session</h1>
      <div class="measure a-ctr">
        <p>{{ .Title }} state-level issues for the 2025 special legislative session.</p>
      </div>

      <div class="card-home-wrapper">
        <div class="card card-home">
          <i class="fa fa-fw fa-flag-usa"></i>
          <div class="card-home-body">
            <h2 class="h3">Help us track state-level issues</h2>
            <div id="react-fundraising"></div>
            <p>5 Calls has helped the public place nearly 10 Million calls to Congress in the last 8 years. State level calls can be even more impactful, but we need your help.</p>
          </div>
        </div>

        <div class="card card-home">
          <i class="fa fa-chart-line"></i>
          <div class="card-home-body">
            <h2 class="h3" id="react-call-count">We've made more than 9 million calls so far. Join&nbsp;us.</h2>
            <p>Pick an issue from the list, or <a href="/getting-started/">read our guide to getting started.</a></p>
          </div>
        </div>

        <div class="card card-home">
          <i class="fa fa-fw fa-envelope-open-text"></i>
          <div>
            <h2 class="h3">Get updates on the latest issues.</h2>
            <p>Subscribe to our newsletter. One email per week at most, no spam.</p>

            <form
    action="https://buttondown.com/api/emails/embed-subscribe/5calls"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.com/5calls?tag=website', 'popupwindow')"
    class="embeddable-buttondown-form subscribe"
  >              <label for="email" class="sr-only">Enter your email address</label>
              <div class="subscribe-body">
                <input type="text" placeholder="youremail@example.com" name="email" id="email" />
                <input type="hidden" name="tag" value="website" />
                <input type="hidden" name="tag" id="district-tag" />
                <input type="submit" class="button" value="Subscribe" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}