{{ define "bodyclass" }}issue{{ end }} {{ define "main" }}
<div class="content">
  <div class="g">
    <!-- prettier-ignore -->
    {{ .Scratch.Set "issueId" .Params.issueId }}
    {{ partial "sidebar-state.html" . }}

    <div class="issue-wrapper">
      <div class="issue-content">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
      </div>
      <div class="reps">
        <h3 id="reps-header">Contacts for this topic:</h3>
        <div
          class="rep-list"
          id="react-reps"
          data-rep-areas="{{ if isset .Params `contactareas` }}{{ delimit .Params.contactAreas `,` }}{{ end }}"
          data-issue-id="{{ .Params.issueId }}"
          data-required-state="{{ .Params.requiredState }}"
        ></div>
      </div>
      <div
        class="issue-script"
        id="react-script"
        data-issue-id="{{ .Params.issueId }}"
        data-script-markdown="{{ .Params.script }}"
        data-required-state="{{ .Params.requiredState }}"
      >
        {{ .Params.script | markdownify }}
      </div>
      <div
        class="outcomes"
        id="react-outcomes"
        data-outcomes="{{ if isset .Params `outcomes` }}{{ delimit .Params.outcomes `,` }}{{ end }}"
        data-required-state="{{ .Params.requiredState }}"
      ></div>
    </div>
  </div>
</div>
{{ end }}